In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [6]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [7]:
type(df['email'])

pandas.core.series.Series

In [8]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [9]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
df.iloc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [12]:
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [13]:
df.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [14]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [15]:
 df.set_index('email', inplace=True)

In [16]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [17]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [18]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [19]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [20]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [21]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [22]:
filt = (df['last'] == 'Doe')

In [23]:
df[filt]

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

In [24]:
df[df['last'] == 'Doe']

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

In [25]:
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [26]:
filt2 = (df['last'] == 'Doe') & (df['first'] == 'John')

In [27]:
df[filt2]

               email first last
2  JohnDoe@email.com  John  Doe

In [28]:
df.loc[filt2, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [29]:
filt3 = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [30]:
df.loc[filt3, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [31]:
df.loc[~filt3, 'email']

1    JaneDoe@email.com
Name: email, dtype: object

In [32]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [34]:
df.columns = ['first_name', 'last_name', 'email']
df

                first_name last_name    email
0  CoreyMSchafer@gmail.com     Corey  Schafer
1        JaneDoe@email.com      Jane      Doe
2        JohnDoe@email.com      John      Doe

In [36]:
df.columns = [x.upper() for x in df.columns]
df

                FIRST_NAME LAST_NAME    EMAIL
0  CoreyMSchafer@gmail.com     Corey  Schafer
1        JaneDoe@email.com      Jane      Doe
2        JohnDoe@email.com      John      Doe